{% load static %}
<div class="d-flex flex-column" style="width: 534px">
  {% for comment in comments %}

  <!-- start "profile_img - username - created at - advanced" block -->
  <div class="d-flex flex-row">
    <a href="{% url 'profile' comment.user.username %}" class="btn btn-bd-light p-1 d-flex justify-content-center me-2">
      <img src="{% if comment.user.profile_image %} {{ comment.user.profile_image.url }} {% else %} {% static 'images/avatar.svg' %} {% endif %}" alt="user" width="30" height="30" class="object-fit-cover rounded-circle bd-border" style="image-rendering: smooth">
    </a>

    <div class="d-flex flex-row align-items-center" style="width: 100%">
      <a href="{% url 'profile' comment.user.username %}" class="text-decoration-none link-body-emphasis">
        <span class="m-0 fw-normal" style="font-size: 19px;">{{ comment.user.username }}</span>
      </a>
      <div class="d-flex flex-row align-items-center ms-auto">
        <span style="font-size: 15px; color: rgba(64,64,64,0.75);" class="created_at me-1" data-post-created="{{ comment.created_at|date:'c' }}"></span>
        <a href="#/advanced" class="btn btn-bd-light d-flex justify-content-center align-items-center p-2">
          <img src="{% static 'images/three-dots-vertical.svg' %}" alt="three-dots" width="18" height="18">
        </a>
      </div>
    </div>
  </div>
  <!-- end "profile_img - username - created at - advanced" block -->

  <!-- start "content" block -->
  <div class="me-auto">
    <p class="text-wrap mb-0" style="font-size: 16px; user-select: text">{{ comment.content }}</p>
  </div>
  <!-- end "content" block -->

  <!-- start "buttons" block -->
  <div class="d-flex align-content-center my-2">
    <button class="like-comment btn btn-bd-light d-flex justify-content-center align-items-center p-2" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}" data-user="{{ request.user.is_authenticated }}">
      {% if comment.id in like_comment_by_user %}
        <img src="{% static 'images/heart-fill.svg' %}" alt="heart" class="bi pe-none" width="20" height="20">
      {% else %}
        <img src="{% static 'images/heart.svg' %}" alt="heart" class="bi pe-none" width="20" height="20">
      {% endif %}
    </button>

    <a href="#/add-comment" class="btn btn-bd-light d-flex justify-content-center align-items-center p-2">
      <img src="{% static 'images/chat.svg' %}" alt="chat" class="bi pe-none" width="20" height="20">
    </a>

    <a href="#/share" class="btn btn-bd-light d-flex justify-content-center align-items-center p-2">
      <img src="{% static 'images/send.svg' %}" alt="send" class="bi pe-none" width="20" height="20">
    </a>
  </div>
  <!-- end "buttons" block -->

  <!-- start "info_for_comment" block -->
  <div class="comments-and-likes-block" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}" {% if comment.commentforcomment_set.count == 0 and comment.likeforcomment_set.count == 0 %} style="display: none;" {% endif %}>
    <div class="d-flex flex-row align-items-center">

      <div class="d-flex flex-row" style="font-size: 15px;">
        <a href="{% url 'view_comment' post_id=post.id comment_id=comment.id %}" class="text-decoration-none link-body-emphasis comment-comments-count" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}">
          {% if comment.commentforcomment_set.count > 0 %}
          <span>{% if comment.commentforcomment_set.count > 1 %}{{ comment.commentforcomment_set.count }} відповідей {% else %} Одна відповідь {% endif %}</span>
          {% endif %}
        </a>


        <span class="mx-2 info-dot" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}" {% if comment.commentforcomment_set.count == 0 or comment.likeforcomment_set.count == 0 %} style="display: none;" {% endif %}>·</span>


        <a href="#/show-who-liked" class="text-decoration-none link-body-emphasis comment-likes-count" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}">
          {% if comment.likeforcomment_set.count > 0 %}
            <span>{% if comment.likeforcomment_set.count > 1 %}{{ comment.likeforcomment_set.count }} позначок "Подобається" {% else %} Одна позначка "Подобається" {% endif %}</span>
          {% endif %}
        </a>
      </div>

    </div>
  </div>
  <!-- end "info_for_comment" block -->

  {% if forloop.last %}
    <div class="mb-5"></div>
  {% else %}
    <hr>
  {% endif %}
  {% endfor %}

</div>