{% extends "base.html" %}
{% block main %}

<div class="d-flex fixed-top py-4" style="margin-left: 328px; box-sizing: border-box; height: 100vh;">
  <div class="shadow d-flex bd-border" style="backdrop-filter: blur(5px);">
    <div class="d-flex flex-column justify-content-center align-items-center mx-4 my-0" style="width: 590px">
      <div style="width: 80%">

        <!-- Header -->
        <div class="text-center">
          <span style="font-size: 25px">Редагування посту</span>
        </div>
        <!-- END Header -->

        <!-- Form -->
        <div class="d-flex justify-content-center">
          <div style="width: 90%">

            <form id="UTC" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              {% for field in form %}
                <label class="form-label pt-3">{{ field.label }}</label>
                  {{ field }}

                  <div class="pt-2">
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <div class="alert {% if 'Додайте' in error %} alert-warning {% else %} alert-danger {% endif %} m-auto p-2" style="font-size: 0.75rem;">
                          <ul class="m-0">
                            <li>
                              {{ error }}
                            </li>
                          </ul>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>

              {% endfor %}

              <div class="d-flex justify-content-center">
                <input type="submit" value="Зберігти зміни" class="btn btn-success mt-4 mb-3 fs-6 shadow-sm" style="width: 100%">
              </div>

            </form>

          </div>
        </div>
        <!-- END Form -->

      </div>
    </div>
  </div>
</div>

<script>
function convertToUTC(localTime) {
    const date = new Date(localTime);
    const utcDate = new Date(date.getTime() + date.getTimezoneOffset() * 60000);
    return utcDate.toISOString();
}

document.getElementById("UTC").addEventListener("submit", function(event) {
    const localDateTime = document.getElementById("datetime-input").value; // Замініть на ідентифікатор вашого вхідного поля дати/часу
    const utcDateTime = convertToUTC(localDateTime);
    document.getElementById("datetime-input").value = utcDateTime; // Оновлюємо значення поля на UTC перед відправкою
});
</script>

{% endblock main %}